{{define "subject"}} {{.Sender}} sent a message. {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body> 
  <p>
    {{.Content}}
  </p>
    {{.Sender}} ({{.UserId}})
  </body>
</html>

{{end}}
